@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Yellows */
  --color-theme-yellow-100: #FFE996;
  --color-theme-yellow-200: #FDDD62;
  --color-theme-yellow-300: #FFD32B;
  --color-theme-yellow-400: #E9BE2B;

  /* Blues / Indigos */
  --color-theme-blue-100: #61659A;
  --color-theme-blue-200: #3B4283;
  --color-theme-blue-300: #233374; /* Ditambahkan angka 3 karena di gambar hanya 5 digit (23374) */

  /* Purples */
  --color-theme-purple-100: #B899C5;
  --color-theme-purple-200: #AD88BC;
  --color-theme-purple-300: #9E75B1;
  --color-theme-purple-400: #9263A7;

  /* Greens */
  --color-theme-green-100: #A7D28D;
  --color-theme-green-200: #97CB79;
  --color-theme-green-300: #87C266;
  --color-theme-green-400: #77BA50;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Fake a thinner scrollbar that expands on hover using border and background-clip */
::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.4);
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.7);
  border: 3px solid rgba(0, 0, 0, 0); /* Smaller border = thicker thumb */
}

/* Hide the arrows/buttons at the top and bottom */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Sidebar Specific Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0);
}
